/* .container {max-width: 100%;
width: 100%;}
Soluzione Ottimale */


@media screen and (max-width: 768px) {

    .container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .steps .col {
        width: 100%;
    }

    .lessons .col {
        width: 100%;
        margin-bottom: 4rem;
    }

    .text {
        margin-bottom: 4rem;
    }

    .why-us .col-left {
        width: 100%;
        margin-bottom: 4rem;
    }

    .row .col:last-child {
        margin-bottom: 0;
    }

    .why-us {
        background-color: #222;
        margin-bottom: 0;
    }

    .steps {
        margin-bottom: 0;
    }
}